<div class="place">
  <h2>Create a place</h2>

  <p>
    <form action="/places/submit_new">
	  	Title: <input name="title" type="text" placeholder="ex: The Bean" required><br>
	  	URL: <input name="url" type="text" required><br>
	  	Price: <input name="admission_price" type="number" required><br>
	  	Description: <input name="description" type="text" required>
	  	<input type="submit">
	</form>
  </p>

</div>
